<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: head"></title>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<script src="/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div th:replace="fragments/fragment :: header"></div>
	<br/>
	
	<div class="container-fluid text-center">
  		<div class="row content">
   			<div class="col-sm-2"></div>
   				<div class="col-sm-8 text-left">
    				<h3 class="page-header">Tambah Penduduk</h3>
    				<br/><br/>
    				<form action="/penduduk/tambah" method="post">
     					<div class="form-group">
      						<label for="nama"><strong>Masukkan Nama</strong></label>
      						<input type="text" class="form-control" id="nama" name="nama" placeholder="nama" />
     					</div>

				     	<div class="form-group">
				      		<label for="tempat_lahir"><strong>Tempat Lahir</strong></label>
				      		<input type="text" class="form-control" id="tempat_lahir" name="tempat_lahir" placeholder="tempat lahir"/>
				     	</div>
				     	<div class="form-group">
				      			<label for="tanggal_lahir"><strong>Tanggal Lahir</strong></label>
				      			<input type="date" class="form-control" id="tanggal_lahir" name="tanggal_lahir" placeholder="yyyy-mm-dd" />
				     	</div>
					  	<div class="form-group">
					      	<label for="jenis_kelamin"><strong>Jenis Kelamin</strong></label>
					      	<select class="form-control" name="jenis_kelamin">
						       	<option value="1" selected="selected">Wanita</option>
						       	<option value="0">Pria</option>
					      	</select>
					    </div>
				     	<div class="form-group">
				      		<label for="golongan_darah"><strong>Golongan Darah</strong></label> 
				      		<select class="form-control" name="golongan_darah">
						    	<option selected="selected">AB</option>
						       	<option>A</option>
						       	<option>B</option>
						       	<option>O</option>
				      		</select>
				     	</div>
					    <div class="form-group">
						   	<label for="agama"><strong>Agama</strong></label>
						    <input type="text" class="form-control" id="agama" name="agama" placeholder="agama"/>
					    </div>
			     		<div class="form-group">
			      			<label for="status_perkawinan"><strong>Status Perkawinan</strong></label> 
			      			<select class="form-control" name="status_perkawinan">
			       				<option selected="selected">Belum Kawin</option>
			       				<option>Kawin</option>
			      			</select>
			     		</div>
			     		<div class="form-group">
			      			<label for="pekerjaan"><strong>Pekerjaan</strong></label> 
			      			<input type="text" class="form-control" id="pekerjaan" name="pekerjaan" placeholder="pekerjaan"/>
			     		</div>
			     		<div class="form-group">
			      			<label for="is_wni"><strong>Kewarganegaraan</strong></label>
			      			<select class="form-control" name="is_wni">
			       				<option value="0" selected="selected">WNA</option>
			       				<option value="1">WNI</option>
			      			</select>
			     		</div>
			     		<div class="form-group">
			      			<label for="status_kematian"><strong>Status Kematian</strong></label>
			      			<select class="form-control" name="is_wafat">
			       				<option value="0" selected="selected">Hidup</option>
			       				<option value="1">Mati</option>
			      			</select>
			     		</div>
			     		<div class="form-group">
			      			<label for="id_keluarga"><strong>Id Keluarga</strong></label>
			      			<input type="text" class="form-control" id="id_keluarga" name="id_keluarga" placeholder="id keluarga"/>
			     		</div>
			     		<div class="form-group">
			      			<label for="status_dalam_keluarga"><strong>Status Dalam Keluarga</strong></label>
			      			<input type="text" class="form-control" id="status_dalam_keluarga" name="status_dalam_keluarga" placeholder="status dalam keluarga"/>
			     		</div>
			     		<button type="submit" class="btn btn-primary" name="action" value="submit">Simpan</button>
			    	</form>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</body>
</html>