<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/'}">Index</title>
		<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/penduduk/tambah'}">Tambah Penduduk</title>
		<title th:fragment="head" th:if="${#httpServletRequest.requestURI == '/keluarga/tambah'}">Tambah Keluarga</title>
		<title>Fragment</title>
	</head>
	<body>
		<div th:fragment="header">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  			<a class="navbar-brand" href="#">SI Kependudukan</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/">Cari Data</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	
	</body>
</html>